body {
    background: #D9E2E7;
}

input[type=button], button {
    border: 0;
    color: #fff;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    border-bottom: 3px solid #333;
}

.background {
    width: 280px;
    height: 400px;
    background: #1F79B0;
    border-radius: 5px;
    margin: 50px auto;
}

.resultbox {
    display: block;
    font-family: sans-serif;
    width: 230px;
    height: 40px;
    margin: 10px auto;
    text-align: right;
    border: 0;
    background: #3b3535;
    color: #fff;
    padding-top: 20px;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    outline: none;
    overflow: hidden;
    letter-spacing: 4px;
    position: relative;
    top: 10px;
}

.buttonSection {
    padding: 10px 20px 20px 20px;
}

.buttonrows {
    width: 250px;
    margin-top: 10px;
}

.bigButton {
    width: 110px;
    height: 50px;
    border-radius: 4px;
}

/* Adding background color to the number values */
 .number_button {
    background: #000;
}

 .number_button:active {
    background: #000;
    box-shadow: inset 5px 5px 5px #555;
}

/*Adding background color to the operator values */
.operator_button {
    background: #365F68;
}

.operator_button:active {
    background: #365F68;
    box-shadow: inset 4px 4px 4px #6797A1;
}

/*Adding a background color to the delete button */
.clear_button {
    background: #24b4de;
    border-bottom: 3px solid #399cb9;
}

.clear_button:active {
    background: #24b4de;
    box-shadow: inset 4px 4px 4px #555;
}

/*Adding a background color to the equal button */
.equal_button {
    background: #17a928;
    width: 110px;
    height: 50px;
    border-radius: 4px;
    border-bottom: 3px solid #1f7a29;
}

.equal_button:active {
    background: #17a928;
    box-shadow: inset 4px 4px 4px #1f7a29;
}
